@import "tailwindcss";

@theme {
  --color-page: #09090b;
  /* Zinc 950 */
  --color-surface: #18181b;
  /* Zinc 900 */
  --color-border: #27272a;
  /* Zinc 800 */

  --color-primary: #F4F4F5;
  /* Zinc 100 */
  --color-secondary: #A1A1AA;
  /* Zinc 400 */

  /* Accent Colors: Acid Green / Lime */
  --color-accent: #CEFF1A;
  --color-accent-hover: #b4e600;
}

@layer base {
  body {
    @apply bg-page text-primary antialiased;
  }
}