@import "tailwindcss";

@theme {
  --color-page: #ffffff;
  /* White */
  --color-surface: #f8fafc;
  /* Slate 50 */
  --color-border: #e2e8f0;
  /* Slate 200 */

  --color-primary: #0f172a;
  /* Slate 900 */
  --color-secondary: #64748b;
  /* Slate 500 */

  /* Brand Colors */
  --color-brand: #0f172a;
  /* Slate 900 */
  --color-accent: #10b981;
  /* Emerald 500 */
}

@layer base {
  body {
    @apply bg-page text-primary antialiased;
  }
}